<div class="wrapper">
        <div id="mobile-menu">
            <div class="block df">
                <ul>
                    <li><a href=""><span>Link</span></a></li>
                    <li><a href=""><span>Link</span></a></li>
                    <li><a href=""><span>Link</span></a></li>
                    <li><a href=""><span>Link</span></a></li>
                </ul>
            </div>
        </div>
        <header>
            <div class="container">
                <div class="left">
                    <a href="#">contact</a>
                    <a href="#">our story</a>
                </div>
                <div class="right">
                    <a href="#">shop</a>
                    <a href="#">cart (3)</a>
                </div>
            </div>
            
        </header>