
<section class="sec1">
  <div class="container">
    
vsdfdsfddsfsdf
  </div>
 
</section>
<section class="sec2">
  <div class="container" style="color: red;">
    dasdasdasdsadasdasdasdsadsa
  </div>d
</section>
<section class="sec3">
  <div class="container">
    
  </div>
</section>